.sortable, .selectable { list-style-type: none; margin: 0; padding: 0; width: 100%; }

.sortable li, .selectable li { font-size: 1.4em; height: 36px;margin-bottom: 3px;line-height: 15px;}
.sortable li { position: relative; }

.sortable li .wrap, .selectable li
{
    padding: 0.4em; 
    border: 1px solid #D3D3D3;
    height: 18px;
	width: 896px;
}

.sortable li .wrap
{
    position: absolute; 
    left: 20px; top: 0; bottom: 0;
    
    padding-left: 36px; 
    
}

li .handle { background: #f8f8f8; position: absolute; left: 0; top: 0; bottom: 0; padding:8px; cursor: pointer;  }
li .index { left: 0; top: 0; bottom: 0;padding: .4em 0; }
.ui-selecting { background: #eee; }
.ui-selecting .handle { background: #ddd; }
.ui-selected { background: #def; }
.ui-selected .handle { background: #cde; }

.sortable li .display span { margin-right: .5em; }