.sortable { list-style-typex: none; margin: 0; padding: 0; xwidth: 60%; }
.sortable li  
{
	margin: 0 3px 3px 3px; 
    position: relative; padding: 0.4em; 
    padding-left: 36px; 
    font-size: 1.4em; 
    height: 18px; 
    border: 1px solid #D3D3D3;
    cursor: pointer;
    line-height: 15px; }

li .handle { background: #f8f8f8; position: absolute; left: 0; top: 0; bottom: 0; padding:8px; }
.ui-selecting { background: #eee; }
.ui-selecting .handle { background: #ddd; }
.ui-selected { background: #def; }
.ui-selected .handle { background: #cde; }

.sortable li .display span { margin-right: .5em; }