@model AllStarScore.Admin.ViewModels.SchedulingEditViewModel

@{ Html.RegisterStylesheet("~/content/styles/scheduling.edit.css"); }
@{ Html.RegisterScript("~/content/scripts/scheduling.edit.js"); }

<div id="scheduling_edit">
    <p>This is a schedule</p>
    
    <div data-bind="foreach: schedule">
        <p data-bind="dateString: day, datePattern: 'dddd MMM dd, yyyy'"></p>
        @*        <ol data-bind="sortable: { template: 'scheduled-template', data: items, options: { handle: '.handle' } }" class="sortable"></ol>*@
    </div>

    <ol data-bind="sortable: { template: 'scheduled-template', data: items, options: { handle: '.handle' } }" class="sortable"></ol>

    <div data-bind="text: ko.toJSON($root, null, 2)"></div>
</div>

<script>
    var editScheduleData = JSON.parse('@Html.Raw(Model.ToJson())');
</script>

<script type="text/html" id="scheduled-template">
    <li class="ui-corner-all">
        <div class='handle'><span class='ui-icon ui-icon-carat-2-n-s'></span></div>
        <div class="display">
            <span data-bind="dateString: time, datePattern: 'ddd h:mm tt', syncIndex: index($index())"></span>
            <span data-bind="template: { name: template(), data: item }"></span>
        </div>
    </li>
</script>

<script type="text/html" id="registration-template">
    <span data-bind="text: gymName"></span>
    <span data-bind="text: teamName"></span>
    <span data-bind="text: levelName"></span>
    <span data-bind="text: divisionName"></span>
    <span data-bind="text: gymLocation"></span>
    <span data-bind="text: participantCount"></span>
</script>

<script type="text/html" id="block-template">
    <span data-bind="text: text"></span>
</script>