@model AllStarScore.Admin.ViewModels.SchedulingEditViewModel

@{ Html.RegisterStylesheet("~/content/styles/scheduling.edit.css"); }
@{ Html.RegisterScript("~/content/scripts/scheduling.edit.js"); }

<div id="scheduling_edit">
    <div data-bind="visible: unscheduled().length > 0">
        <p><span data-bind="text: unscheduled().length"></span> teams haven't been scheduled</p>
    
        <ul data-bind="foreach: unscheduled" class="selectable">
            <li data-bind="template: 'registration-template', css: {'ui-selected' : selected }, selectableItem: selected"></li> 
        </ul>
        
        <div class="controls">
            <span data-bind="foreach: schedule">
                <a href="#" data-bind="click: $root.scheduleTeam">Put selected teams on <span data-bind="dateString: day, datePattern: 'dddd'"></span></a><br/>
            </span>
        </div>
    </div>

    <div data-bind="foreach: schedule">
        <p data-bind="dateString: day, datePattern: 'dddd MMM dd, yyyy'"></p>
        <ol data-bind="sortable: { template: 'scheduled-template', data: entries, options: { handle: '.handle' } }" class="sortable"></ol>
    </div>

    <pre data-bind="text: ko.toJSON($root, null, 2)"></pre>
</div>

<script type="text/html" id="scheduled-template">
    <li>
        <div class="index" data-bind="text: $index() + 1 + '.'"></div>
        <div class="wrap ui-corner-all">
            <div class='handle'><span class='ui-icon ui-icon-carat-2-n-s'></span></div>
            <div class="display">
                <span data-bind="dateString: time, datePattern: 'ddd h:mm tt', syncIndex: index($index())"></span>
                <span data-bind="template: { name: template(), data: data }"></span>
            </div>
        </div>
    </li>
</script>

<script type="text/html" id="registration-template">
    <span data-bind="text: gymName"></span>
    <span data-bind="text: teamName"></span>
    <span data-bind="text: levelName"></span>
    <span data-bind="text: divisionName"></span>
    <span data-bind="text: gymLocation"></span>
    <span data-bind="text: participantCount"></span>
</script>

<script type="text/html" id="block-template">
    <span data-bind="text: text"></span>
</script>

<script>
    var editScheduleData = JSON.parse('@Html.Raw(Model.ToJson())');
</script>