@model AllStarScore.Admin.ViewModels.SchedulingEditViewModel

@{ Html.RegisterStylesheet("~/content/styles/scheduling.edit.css"); }
@{ Html.RegisterScript("~/content/scripts/scheduling.edit.js"); }

<div id="scheduling_edit">
    <div data-bind="visible: unscheduled().length > -1">
            
        <div class="setup">
            <div>
                <div>How many panels do you want? <span data-bind="text: panels().length"></span>: <span data-bind="text: panels"></span></div>
                <div data-bind="ko_slider: { source: schedule.numberOfPanels, options: { step: 1}}" class="slider"></div>
            </div>
        </div>
        <br/>
    </div>
    
    <div class="performances">
        <div class="scheduled">
            <div data-bind="foreach: schedule.days">
                <span data-bind="dateString: day, datePattern: 'dddd MMM dd, yyyy'"></span>
                <a href="#" data-bind="click: $root.addBreak">Add Break</a>
                <a href="#" data-bind="click: $root.addAwards">Add Awards</a>
                <a href="#" data-bind="click: $root.addOpen">Add Open</a>
                <ol data-bind="sortable: { template: 'scheduled-template', data: entries, options: { tolerance: 'pointer', placeholder: 'ui-state-highlight', handle: '.handle', containment: '.performances' } }" class="sortable"></ol>
            </div>
        </div>
        <div class="unscheduled" data-bind="visible: unscheduled().length > 0">
            <p><span data-bind="text: unscheduled().length"></span> performances haven't been scheduled</p>
            <ol data-bind="sortable: { template: 'scheduled-template', data: unscheduled, options: { tolerance: 'pointer', placeholder: 'ui-state-highlight', handle: '.handle', containment: '.performances' } }" class="sortable"></ol>
        </div>
    </div>
    
    <form action='@Url.Action("Edit", "Scheduling")' method="post">
        <fieldset>
            <legend>Save Schedule</legend>
            
            <div class="validation-summary-errors"></div>

            <p>
                <button data-bind="click: save">Save</button>
            </p>
        </fieldset>
    </form>

    <pre data-bind="text: ko.toJSON($root, null, 2)"></pre>
</div>

<script type="text/html" id="scheduled-template">
    <li>
        <div class="index" data-bind="text: $index() + 1 + '.', syncIndex: index($index())"></div>
        <div class="wrap ui-corner-all">
            <div class='handle'><span class='ui-icon ui-icon-star'></span></div>
            <div class="display">
                <span data-bind="dateString: $root.calculateWarmup($data), datePattern : 'ddd h:mm tt'"></span>
                <span data-bind="dateString: time, datePattern: 'ddd h:mm tt'"></span>
                <span data-bind="text: panel, click: $root.shiftPanel" class="shift-panel"></span>
                <span data-bind="template: { name: template(), data: $data.registration() || $data }" class="core"></span>
                <span data-bind="text: $root.calculatePerformancePosition($data)"></span>
@*                <span data-bind="text: duration"></span>*@
            </div>
        </div>
    </li>
</script>

<script type="text/html" id="registration-template"> 
    <span data-bind="text: gymName"></span>
    <span data-bind="text: teamName"></span>
    <span data-bind="text: levelName"></span>
    <span data-bind="text: divisionName"></span>
    <span data-bind="text: isShowTeam ? 'Show' : ''"></span>
    @*    <span data-bind="text: participantCount"></span>*@
@*    <span data-bind="text: gymLocation"></span>*@
    @*    <span data-bind="text: isSmallGym ? 'Small' : 'Large'"></span>*@
    
@*    <span data-bind="text: viewModel.performancesToBeScheduled(id)"></span>*@
</script>

<script type="text/html" id="block-template">
    <span data-bind="text: text"></span>
</script>

<script>
    var editScheduleData = JSON.parse('@Html.Raw(Model.ToJson())');
</script>