@model AllStarScore.Admin.ViewModels.SchedulingEditViewModel

@{ Html.RenderAction("Index", "CompetitionData"); }

@{ Html.RegisterStylesheet("~/content/styles/scheduling.edit.css"); }
@{ Html.RegisterScript("~/content/scripts/scheduling.edit.js"); }

<div id="scheduling_edit">
    <h2>Schedule for @Html.ActionLink(Model.Competition.Display, "Details", "Competition", new { id = Model.Competition.Id.ForMvc() }, new { })</h2>
    <div class="setup">
        <a href="#" data-bind="visible: !displayOptions(), click: toggleOptions">Show Options</a>
        <a  href="#" data-bind="visible: displayOptions, click: toggleOptions">Hide Options</a>    
        <div data-bind='fadeVisible: displayOptions'>
			<div class="option">
				<div>How many panels do you want? <span data-bind="text: panels().length"></span>: <span data-bind="text: panels"></span></div>
				<div data-bind="ko_slider: { source: schedule.numberOfPanels, options: { step: 1, max: 6}}" class="slider"></div>
			</div>
            
			<div class="option">
				<div>Performance Duration? <span data-bind="text: schedule.defaultDuration"></span> minutes</div>
				<div data-bind="ko_slider: { source: schedule.defaultDuration, options: { step: 1, max: 10}}" class="slider"></div>
			</div>
            
			<div class="option">
				<div>Warmup Time? <span data-bind="text: schedule.defaultWarmupTime"></span> minutes</div>
				<div data-bind="ko_slider: { source: schedule.defaultWarmupTime, options: { step: 1, min: 0, max: 60}}" class="slider"></div>
			</div>
            
			<div class="option">
				<div>Break Duration? <span data-bind="text: schedule.defaultBreakDuration"></span> minutes</div>
				<div data-bind="ko_slider: { source: schedule.defaultBreakDuration, options: { step: 1, max: 60}}" class="slider"></div>
			</div>
            
            <div class="option">
				<div>Awards Duration? <span data-bind="text: schedule.defaultAwardsDuration"></span> minutes</div>
				<div data-bind="ko_slider: { source: schedule.defaultAwardsDuration, options: { step: 1, max: 60}}" class="slider"></div>
			</div>
            
			<!-- ko foreach: schedule.days -->
            <div class="option">
				<div>
					What time to start on <span data-bind="dateString: day, datePattern : 'ddd'"></span>? 
					<span data-bind="dateString: day, datePattern : 'h:mm tt'"></span>
				</div>
				<div>
					Hour: <div data-bind="ko_slider: { source: starthour, options: { step: 1, min: 0, max: 23}}" class="slider"></div>
				</div>
                <div>
					Minute: <div data-bind="ko_slider: { source: startminutes, options: { step: 1, min: 0, max: 59}}" class="slider"></div>
				</div>
			</div>
            <!-- /ko --> 
		</div>
        <br/>
    </div>
    
    <div class="performances">
        <div class="scheduled">
            <div data-bind="foreach: schedule.days">
                <span data-bind="dateString: day, datePattern: 'dddd MMM dd, yyyy'"></span>
                <a href="#" data-bind="click: $root.addBreak">Add Break</a>
                <a href="#" data-bind="click: $root.addAwards">Add Awards</a>
                <a href="#" data-bind="click: $root.addOpen">Add Open</a>
				<ol data-bind="sortable: { template: 'scheduled-template', data: entries, options: { tolerance: 'pointer', placeholder: 'ui-state-highlight', handle: '.handle', containment: '.performances' } }" class="sortable"></ol>
            </div>
        </div>
		<div class="unscheduled" data-bind="visible: unscheduled().length > 0">
			<p><span data-bind="text: unscheduled().length"></span> performances haven't been scheduled</p>
			<ol data-bind="sortable: { template: 'scheduled-template', data: unscheduled, options: { tolerance: 'pointer', placeholder: 'ui-state-highlight', handle: '.handle', containment: '.performances' } }" class="sortable"></ol>
		</div>
		<div class="active" data-bind="with: active, visible: active">
			<div><span data-bind="text: type"></span> Duration? <span data-bind="text: duration"></span> minutes</div>
			<div data-bind="ko_slider: { source: duration, options: { step: 1, max: max}}" class="slider"></div>
			<div>
				<button data-bind="click: $root.removeActive, visible: canRemove">Remove from Schedule</button>
			</div>
			<div>
				<button data-bind="click: $root.saveActive">Save</button>
				<button data-bind="click: $root.closeActive">Close</button>
			</div>
		</div>
    </div>
    
	<form action='@Url.Action("Edit", "Scheduling")' method="post">
		<fieldset>
			<legend>Save Schedule</legend>
            
			<div class="validation-summary-errors"></div>

			<p class="save">
				<button data-bind="click: save, enable: unscheduled().length > -1">Save</button>
				<span class="notification" data-bind="fadeVisible: justSaved">Saved!</span>
			</p>
		</fieldset>
	</form>
    
    @*    <p>@Html.ActionLink("Printable Schedule", "Print", "Scheduling", new { id = Model.Competition.Id.ForMvc() }, new { })</p>*@
    
    <div class="divisionSheet">
        <h2>Division Sheet</h2>
    
        <!-- ko foreach: divisionSheet -->
        <div>
            <h3>
                <span data-bind="text: value[0].level"></span> <span data-bind="text: value[0].division"></span> - <span data-bind="text: value.length"></span> Team(s)
            </h3>
            <ul data-bind="foreach: value">
                <li>
                    <span data-bind="text: gym"></span>
                    <span data-bind="text: team"></span>
                    <span data-bind="text: location"></span>
                </li>
            </ul>
        </div>
        <!-- /ko --> 
    </div>
    @*	<pre class="ko_output" data-bind="text: ko.toJSON($root, null, 2)"></pre>*@
</div>

<script type="text/html" id="scheduled-template">
    <li data-bind="click: $root.edit, css: { chosen: $root.chosen() === $data }">
        <div class="index" data-bind="text: $index() + 1 + '.'"></div>
        <div class="wrap ui-corner-all">
            <div class='handle'><span class='ui-icon ui-icon-star'></span></div>
            <span class="display" data-bind="css: { break: isNonTeamEntry}">
                <span class="group">
                    <span data-bind="dateString: $root.calculateWarmup($data), datePattern : 'ddd h:mm tt'" class="warmup"></span>
                    <span data-bind="dateString: time, datePattern: 'ddd h:mm tt'"></span>
                    <span data-bind="text: $root.getPanel($data), click: $root.shiftPanel" class="shift-panel"></span>
                </span>
                <span data-bind="template: { name: $root.getTemplate($data), data: $root.toPerformance($data) }" class="core"></span>
            </span>
        </div>
    </li>
</script>

<script type="text/html" id="performance-template">
	<span class="name group">
		<span data-bind="text: gym"></span>
		<span data-bind="text: team"></span>
		<span data-bind="text: isShowTeam ? 'Show' : ''" class="show"></span>
	</span>
	<span class="division group">
		<span data-bind="text: level"></span>
		<span data-bind="text: division"></span>
	</span>    
    <span data-bind="text: order" class="order"></span>
	@*    <span data-bind="text: participants"></span>*@
@*    <span data-bind="text: location"></span>*@
@*    <span data-bind="text: isSmallGym ? 'Small' : 'Large'"></span>*@
</script>

<script type="text/html" id="block-template">
    <span data-bind="text: display"></span>
</script>

@using(Html.BeginScript(ScriptPositionEnum.EndOfPage)) { 
	<text>
		$(document).ready(function () { 
            window.AllStarScore.Scheduling.Start();
		});
	</text>
}