@model AllStarScore.Scoring.ViewModels.LandingIndexViewModel

@{
    ViewBag.Title = "All Star Scoring";
}

<h2>Welcome to All Star Score!</h2>

@using(Html.BeginForm("Import", "Sync")){
<fieldset>
    <legend>Download</legend>
    
    <label>Compeition Number</label>
    <input type="text" value="" name="id" />
    
    <input type="submit" value="Download"/>
</fieldset>
}

<h3>Local Competitions</h3>
@foreach (var info in Model.Competitions)
{
    @Html.ActionLink(info.Competition.Display, "Index", "Performance", new {id = info.Id.ForMvc()}, new {})
}