@model AllStarScore.Scoring.ViewModels.CompetitionLayoutIndexViewModel

@{ Html.RegisterStylesheet("~/content/styles/competitionlayout.index.css"); }
@{ Html.RegisterScript("~/content/scripts/competitionlayout.index.js"); }

<div id="competitionlayout_index" data-bind="with: CompetitionData">
    <div  class="header">
        <div data-bind="text: company.name" class="company"></div>
        <div class="description">
            <span data-bind="text: competition.display"></span>
        </div>
    </div>
</div>

@using(Html.BeginScript(ScriptPositionEnum.EndOfPage)) { 
	<text>
		$(document).ready(function () { 
		    var competitionData = JSON.parse('@Html.Raw(Model.ToJson())');
            window.AllStarScore.CompetitionData = new window.AllStarScore.CompetitionData.ViewModel(competitionData);
		});
	</text>
}