@{ Html.RegisterStylesheet("~/content/styles/gym.create.css"); }
@{ Html.RegisterScript("~/content/scripts/gym.create.js"); }

<div class="gym_create">
    <span class="control_links">
        @Html.ActionLink("Create Gym", "Create", "Gym", new { }, new { @class = "gym_create"})
        @Html.ActionLink("Search", "Search", "Gym", new { }, new { @class = "gym_search"})
        @Html.ActionLink("Check", "Check", "Gym", new { }, new { @class = "gym_check"})
    </span>
    <div class="display"></div>
</div>

