@{ Html.RegisterStylesheet("~/content/styles/gym.create.css"); }
@{ Html.RegisterScript("~/content/scripts/gym.create.js"); }

<div class="gym_create">
    <span class="control_links">
        @Html.ActionLink("Search", "Search", "Gym", new { }, new { @class = "gym_search"})
        @Html.ActionLink("Check", "Check", "Gym", new { }, new { @class = "gym_check"})
    </span>
    <div id="gym_create_display" class="display">
        @{ Html.RenderAction("Create", "Gym"); }
    </div>
</div>

