@model string

@{ Html.RegisterStylesheet("~/content/styles/gym.details.css"); }
@{ Html.RegisterScript("~/content/scripts/gym.details.js"); }
@{ Html.RegisterScript("~/content/scripts/gym.edit.js"); }

<div class="gym_details">
    <span class="control_links">
        @Ajax.ActionLink("Details", "Details", "Gym", new { gymid = @Model }, new AjaxOptions() { UpdateTargetId = "gym_details_display" }, new { @class = "details" })
        @Ajax.ActionLink("Edit", "Edit", "Gym", new { gymid = @Model }, new AjaxOptions() { UpdateTargetId = "gym_details_display" }, new { @class = "edit" })
    </span>
    <div id="gym_details_display" class="display">
        @{ Html.RenderAction("Details", "Gym"); }
    </div>
</div>