@*@{ Html.RegisterStylesheet("~/content/styles/gym.edit.css"); }*@
@{ Html.RegisterScript("~/content/scripts/gym.edit.js"); }

<div class="gym_edit">
    <span class="control_links">
        @Ajax.ActionLink("Edit", "Edit", "Gym", new { gymid = @Model.GymId }, new AjaxOptions() { UpdateTargetId = "gym_edit_display" }, new { @class = "get" })
    </span>
    <div id="gym_edit_display" class="display">
        @{ Html.RenderAction("Edit", "Gym"); }
    </div>
</div>

