@model AllStarScore.Admin.ViewModels.RegistrationIndexViewModel

@{
    ViewBag.Title = "Register Gym";
}

<h2>Registration for @Html.ActionLink(Model.Competition.Name, "Details", "Competition", new {id = Model.Competition.Id.ForMvc()}, new {})</h2>

@{ Html.RenderAction("Edit", "Gym", new { gymid = @Model.GymId.ForMvc() }); }
@{ Html.RenderAction("Teams", "Registration", new { gymid = @Model.GymId.ForMvc(), competitionid = @Model.Competition.Id.ForMvc() }); }