@model AllStarScore.Admin.ViewModels.RegistrationRegisterViewModel

@{
    ViewBag.Title = "Register Gym";
}

<h2>Registration for @Model.CompetitionName</h2>

Gym

@{ Html.RenderPartial("GymCreateHarness"); }
    

