@model AllStarScore.Admin.ViewModels.RegistrationRegisterViewModel
@{ Html.RegisterScript("~/content/scripts/registration.register.js"); }

@{
    ViewBag.Title = "Register Gym";
}

<h2>Registration for @Model.Competition.Name</h2>

Gym

@{ Html.RenderPartial("GymCreateHarness"); }

Teams

<div class="team_registration">
    <div class="control_links">
        @Ajax.ActionLink("Teams",  "Teams", "Registration", new { competitionid = @Model.Competition.Id, gymid = "__gymid__"}, new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "registered_teams" }, new { @class = "form_get"})
    </div>
    
    <div id="registered_teams"></div>
</div>