@model AllStarScore.Scoring.ViewModels.ScoringScoreEntryViewModel

@{
    ViewBag.Title = "Score Entry";
    Layout = "~/Views/Shared/_LayoutCompetition.cshtml";
}

@{ Html.RegisterStylesheet("~/content/styles/scoring.scoreentry.css"); }
@{ Html.RegisterScript("~/content/scripts/scoring.scoreentry.js"); }

<div id="scoring_scoreentry" data-bind="with: ScoreEntry">
    <div data-bind="with: performance" class="header">
        <div class="name">
            <span data-bind="text: gym"></span>
            <span data-bind="text: team"></span>
        </div>
        <div class="division">
            <span data-bind="text: level"></span>
            <span data-bind="text: division"></span>
        </div>
        <div data-bind="dateString: time, datePattern: 'ddd h:mm tt'" class="when"></div>     
        <div class="judge">Judge <span data-bind="text: panel + $root.ScoreEntry.score.judgeId()"></span></div>
    </div>
    
	<form action='@Url.Action("ScoreEntry", "Scoring")' method="post">
		<fieldset>
			<legend>Score Entry</legend>
			<div class="validation-summary-errors"></div>
            
			<div class="score_entry" data-bind="ko_cssClass: getTemplate">
				<!-- ko template: { name: getTemplate, data: getScoring(performance, score), afterRender: onAfterRender } --><!-- /ko -->
                <div class="comments">
		            <label>Comments</label>
		            <textarea data-bind="value: score.comments"></textarea>
	            </div>
				<div class="controls">
					<span class="below_min" data-bind="visible: score.isGrandTotalBelowMin">The total score is below the minimum</span>
					<span class="above_max" data-bind="visible: score.isGrandTotalAboveMax">The total score is above the maximum</span>
					<br/>
					@Html.ActionLink("Cancel", "Summary", "Scoring", new { performanceId = @Model.PerformanceId.ForScoringMvc() }, new { })
					<button data-bind="click: save">Save</button>
				</div>        
			</div>

			<div class="scorepad">
				<table class="high">
					<tr><td>0</td></tr>
					<tr><td>1</td></tr>
					<tr><td>2</td></tr>
					<tr><td>3</td></tr>
					<tr><td>4</td></tr>
					<tr><td>5</td></tr>
					<tr><td>6</td></tr>
					<tr><td>7</td></tr>
					<tr><td>8</td></tr>
					<tr><td>9</td></tr>
					<tr><td>10</td></tr>
					<tr><td>11</td></tr>
					<tr><td>12</td></tr>
				</table>
        
				<table class="low">
					<tr><td>.0</td></tr>
					<tr><td>.1</td></tr>
					<tr><td>.2</td></tr>
					<tr><td>.3</td></tr>
					<tr><td>.4</td></tr>
					<tr><td>.5</td></tr>
					<tr><td>.6</td></tr>
					<tr><td>.7</td></tr>
					<tr><td>.8</td></tr>
					<tr><td>.9</td></tr>
					<tr class="one"><td>1.0</td></tr>
				</table>
			</div>    
		</fieldset>
	</form>
</div>

<script>
    var scoringScoreEntryData = JSON.parse('@Html.Raw(Model.ToJson())');
</script>

<script type="text/html" id="all_star_template">
    <table>
        <thead>
            <tr>
                <th class="skills">Skills</th>
                <th class="base">Base<br />Score</th>
                <th class="execution">Execution<br />Technique<br />0 - 1.0</th>
                <th class="judge">Judge<br />Score</th>
                <th class="min">Min<br />Score</th>
                <th class="max">Max<br />Score</th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: $data.categories -->
            <tr>
                <td data-bind="text: $data.category.display"></td>
                <td><input readonly="readonly" type="text" data-bind="value: $parent.score.scores[$data.key].base, css: { below_min:  $parent.score.scores[$data.key].isBaseBelowMin,  above_max:  $parent.score.scores[$data.key].isBaseAboveMax}" /></td>
                <td><input readonly="readonly" type="text" data-bind="value: $parent.score.scores[$data.key].execution, visible: $data.category.includeExectionScore, css: { below_min:  $parent.score.scores[$data.key].isExecutionBelowMin,  above_max:  $parent.score.scores[$data.key].isExecutionAboveMax}" /></td>
                <td data-bind="text: $parent.score.scores[$data.key].total"></td>
                <td data-bind="text: $data.category.min"></td>
                <td data-bind="text: $data.category.max"></td>
            </tr>
            <!-- /ko -->
            <tr>
                <th>Total</th>
                <th data-bind="text: $data.score.totalBase"></th>
                <th data-bind="text: $data.score.totalExecution"></th>
                <th data-bind="text: $data.score.grandTotal"></th>
                <th data-bind="text: $data.score.minTotal"></th>
                <th data-bind="text: $data.score.maxTotal"></th>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/html" id="single_value_template">
    <table>
        <thead>
            <tr>
                <th class="skills">Category</th>
                <th class="judge">Judge<br />Score</th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: $data.categories -->
            <tr>
                <td data-bind="text: $data.category.display"></td>
                <td><input type="text" data-bind="value: $parent.score.scores[$data.key].base, css: { below_min:  $parent.score.scores[$data.key].isBaseBelowMin,  above_max:  $parent.score.scores[$data.key].isBaseAboveMax}" /></td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
</script>