@model AllStarScore.Scoring.ViewModels.ScoringScoreEntryViewModel

@{
    ViewBag.Title = "Score Entry";
}

@{ Html.RegisterStylesheet("~/content/styles/scoring.scoreentry.css"); }
@{ Html.RegisterScript("~/content/scripts/scoring.scoreentry.js"); }

<h2>@ViewBag.Title</h2>

<div id="scoring_scoreentry">
    <div data-bind="with: viewModel.performance" class="header">
        <div class="company">Spirit Celebration</div>
        <div class="description">CGA National Championship Feb 12-13, 2011</div>
        <div class="name">
            <span data-bind="text: gymName"></span>
            <span data-bind="text: teamName"></span>
        </div>
        <div class="division">
            <span data-bind="text: levelName"></span>
            <span data-bind="text: divisionName"></span>
        </div>
        <div data-bind="dateString: performanceTime, datePattern: 'ddd h:mm tt'" class="when"></div>     
        <div class="judge">Judge <span data-bind="text: panel() + $root.viewModel.score.judgeId()"></span></div>
    </div>
    
    <form action='@Url.Action("ScoreEntry", "Scoring")' method="post">
        <fieldset>
            <legend>Score Entry</legend>
            <div class="validation-summary-errors"></div>
            
            <div class="score_entry" data-bind="ko_cssClass: viewModel.getTemplate">
                <!-- ko template: { name: viewModel.getTemplate, data: viewModel.getScoring(viewModel.performance, viewModel.score) } --><!-- /ko -->
                <div class="controls">
                    <span class="below_min" data-bind="visible: viewModel.score.isGrandTotalBelowMin">The total score is below the minimum</span>
                    <span class="above_max" data-bind="visible: viewModel.score.isGrandTotalAboveMax">The total score is above the maximum</span>
                    <br/>
                    <button data-bind="click: viewModel.save">Save</button>
                </div>        
            </div>

            <div class="scorepad">
                <table class="high">
                    <tr><td>0</td></tr>
                    <tr><td>1</td></tr>
                    <tr><td>2</td></tr>
                    <tr><td>3</td></tr>
                    <tr><td>4</td></tr>
                    <tr><td>5</td></tr>
                    <tr><td>6</td></tr>
                    <tr><td>7</td></tr>
                    <tr><td>8</td></tr>
                    <tr><td>9</td></tr>
                    <tr><td>10</td></tr>
                    <tr><td>11</td></tr>
                    <tr><td>12</td></tr>
                </table>
        
                <table class="low">
                    <tr><td>.0</td></tr>
                    <tr><td>.1</td></tr>
                    <tr><td>.2</td></tr>
                    <tr><td>.3</td></tr>
                    <tr><td>.4</td></tr>
                    <tr><td>.5</td></tr>
                    <tr><td>.6</td></tr>
                    <tr><td>.7</td></tr>
                    <tr><td>.8</td></tr>
                    <tr><td>.9</td></tr>
                </table>
            </div>    
        </fieldset>
    </form>

    <pre data-bind="text: ko.toJSON($root, null, 2)" class="ko_output"></pre>
    <pre data-bind="text: ko.mapping.toJSON($root.viewModel.score, null, 2)" class="ko_output"></pre>
</div>

<script>
    var scoringScoreEntryData = JSON.parse('@Html.Raw(Model.ToJson())');
</script>

<script type="text/html" id="all_star_template">
    <table>
        <thead>
            <tr>
                <th class="skills">Skills</th>
                <th class="base">Base<br />Score</th>
                <th class="execution">Execution<br />Technique<br />0 - 1.0</th>
                <th class="judge">Judge<br />Score</th>
                <th class="min">Min<br />Score</th>
                <th class="max">Max<br />Score</th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: $data.categories -->
            <tr>
                <td data-bind="text: $data.category.display"></td>
                <td><input type="text" data-bind="value: $parent.score.scores[$data.key].base, css: { below_min:  $parent.score.scores[$data.key].isBaseBelowMin,  above_max:  $parent.score.scores[$data.key].isBaseAboveMax}" /></td>
                <td><input type="text" data-bind="value: $parent.score.scores[$data.key].execution, visible: $data.category.includeExectionScore, css: { below_min:  $parent.score.scores[$data.key].isExecutionBelowMin,  above_max:  $parent.score.scores[$data.key].isExecutionAboveMax}" /></td>
                <td data-bind="text: $parent.score.scores[$data.key].total"></td>
                <td data-bind="text: $data.category.min"></td>
                <td data-bind="text: $data.category.max"></td>
            </tr>
            <!-- /ko -->
            <tr>
                <th>Total</th>
                <th data-bind="text: $data.score.totalBase"></th>
                <th data-bind="text: $data.score.totalExecution"></th>
                <th data-bind="text: $data.score.grandTotal"></th>
                <th data-bind="text: $data.score.minTotal"></th>
                <th data-bind="text: $data.score.maxTotal"></th>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/html" id="single_value_template">
    <table>
        <thead>
            <tr>
                <th class="skills">Category</th>
                <th class="judge">Judge<br />Score</th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: $data.categories -->
            <tr>
                <td data-bind="text: $data.category.display"></td>
                <td><input type="text" data-bind="value: $parent.score.scores[$data.key].base, css: { below_min:  $parent.score.scores[$data.key].isBaseBelowMin,  above_max:  $parent.score.scores[$data.key].isBaseAboveMax}" /></td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
</script>