@model AllStarScore.Admin.ViewModels.SyncIndexViewModel

@{
    ViewBag.Title = "Synchronize with Scoring Computer";
}

<h2>Synchronize @Html.ActionLink(Model.Competition.Display, "Details", "Competition", new { id = Model.Competition.Id.ForMvc() }, new { }) with Scoring Computer</h2>
@Url.Action("Download", "Sync", new { id = Model.Competition.Id.ForMvc(), Model.Hash }, "http")
