@model AllStarScore.Admin.ViewModels.SyncIndexViewModel

@{
    ViewBag.Title = "Synchronize with Scoring Computer";
}

<h2>Synchronize @Html.ActionLink(Model.Competition.Display, "Details", "Competition", new {id = Model.Competition.Id}, new {}) with Scoring Computer</h2>
@Url.Action("Export", "Sync", new { Model.Competition.Id, Model.Hash }, "http")
