@model AllStarScore.Admin.ViewModels.GymDetailsViewModel

<div>@Model.Gym.Name</div>
<div>@Model.Gym.Location</div>
<div>@(Model.Gym.IsSmallGym ? "Small" : "Large") Gym</div>
<a href="#" data-val="@Model.Gym.Id" class="edit">Edit</a>