@model AllStarScore.Scoring.ViewModels.ReportingIndexViewModel

@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>

@Html.ActionLink("Single Performance", "SinglePerformance", "Reporting", new { id = Model.CompetitionId.ForMvc() }, new { })
@Html.ActionLink("Two Performance", "TwoPerformance", "Reporting", new { id = Model.CompetitionId.ForMvc() }, new { })
