@model AllStarScore.Scoring.ViewModels.ReportingSinglePerformanceViewModel

@{
    ViewBag.Title = "Single Performance or First Performance";
    Layout = "~/Views/Shared/_LayoutCompetition.cshtml";
}

@{ Html.RegisterStylesheet("~/content/styles/reporting.singleperformance.css"); }
@{ Html.RegisterScript("~/content/scripts/reporting.singleperformance.js"); }

<div id="reporting_singleperformance" data-bind="with: $root.ReportingViewModel">
	<div class="divisions">
		<h3>Divisions</h3>
		<!-- ko template: { name: 'group_template', data: reporting.divisions } --><!-- /ko -->
	</div>
	<div class="levels">
		<h3>Levels</h3>
		<!-- ko template: { name: 'group_template', data: reporting.levels } --><!-- /ko -->
	</div>

	@*    <pre data-bind="text: ko.toJSON($data, null, 2)" class="ko_output"></pre>*@
</div>

@{ Html.RenderAction("Averages", "Reporting"); }

<script>
    var reportingData = JSON.parse(NormalizeLineEndings('@Html.Raw(Model.ToJson())'));
</script>

<script type="text/html" id="group_template">
	<ul data-bind="foreach: $data">
		<li>
			<h4>
				<span data-bind="text: scores()[0].levelName()"></span>
				<span data-bind="text: scores()[0].divisionName()" class="division_name"></span>
			</h4>
			<table>
				<tbody data-bind="foreach: scores">
					<tr data-bind="css: {show: isShowTeam() }">
						@*                        <td data-bind="text: $index() + 1"></td>*@
						<td data-bind="text: rank" class="numeric"></td>
						<td data-bind="text: performanceScores()[0].toFixed(3)" class="numeric"></td>
						<td>
							<span data-bind="text: gymName"></span>
							<span data-bind="text: teamName"></span>
							<span data-bind="visible: isShowTeam()" class="show">SHOW</span>
							<span data-bind="text: isSmallGym() ? 'Small' : 'Large'" class="gym_size"></span>
                            <span data-bind="text: participants" class="show gym_size"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
    </ul>
</script>