#competitionlayout_index .header { margin-bottom: 5px;overflow: hidden;}
#competitionlayout_index .header .company { font-size: 2em;float: left;}
#competitionlayout_index .header .description { font-size: 2em;text-align: right;overflow: hidden;}