#performance_index .performances .when { min-width: 100px;display: inline-block; }
#performance_index .performances .name { min-width: 350px;display: inline-block; }
#performance_index .performances .division { min-width: 300px;display: inline-block; }