#performance_index { font-size: 1.3em; }
#performance_index .performances .when { min-width: 100px;display: inline-block; }
#performance_index .performances .name { width: 440px;overflow-x: hidden; display: inline-block; }
#performance_index .performances .division { min-width: 275px;display: inline-block; }
#performance_index .performances li:nth-child(even) { background-color: #fff; }