#reporting_singleperformance ul { font-size: 1.8em;}
#reporting_singleperformance td.numeric { padding-right: 2em;}

#reporting_singleperformance td .gym_size { color: #a0a0a0;font-sizex: .7em;font-style: italic;}

#reporting_singleperformance .levels .division_name { display: none;}

tr.show { text-decoration: line-through; }
span.show { font-sizex: .6em; }
@media print 
{
	#reporting_singleperformance ul { font-size: 1.5em; }
	.competition_header { display: none; }
	ul li { page-break-inside: avoid; }
	div.divisions ul { page-break-after: always; }
	
	h3 { displayx: none; }
	#reporting_averages { display: none; }
}