#scoring_fivejudgepanel { overflow: hidden; margin-bottom: 15px; }
#scoring_fivejudgepanel .header { margin-bottom: 5px;overflow: hidden;}
#scoring_fivejudgepanel .header .company { font-size: 2em;float: left;}
#scoring_fivejudgepanel .header .description { font-size: 2em;text-align: right;overflow: hidden;}
#scoring_fivejudgepanel .header .name,
#scoring_fivejudgepanel .header .when { font-size: 1.4em;float: left;}
#scoring_fivejudgepanel .header .division,
#scoring_fivejudgepanel .header .judge { font-size: 1.4em;text-align: right;overflow: hidden;padding-right: 2px;}
#scoring_fivejudgepanel .header .judge span { background-color: #000;color: #fff;padding: 2px;font-weight: bold; }

#scoring_fivejudgepanel .score_summary { width: 35%;float: left;margin-right: 4em;text-align: center;}
#scoring_fivejudgepanel .score_summary td { min-width: 45px;padding: 0;}
#scoring_fivejudgepanel .score_summary td:first-child { text-align: left; }

#scoring_fivejudgepanel .final_score {float: left;text-align: right;margin-right: 20px; }
#scoring_fivejudgepanel .final_score table {text-align: right;border-collapse: collapse;}
#scoring_fivejudgepanel .final_score td { min-width: 100px;padding-right: 2px;}
#scoring_fivejudgepanel .final_score th { font-weight: normal; } 
#scoring_fivejudgepanel .final_score tr:last-child th,
#scoring_fivejudgepanel .final_score tr:last-child td { border-top: 2px solid #000; } 
#scoring_fivejudgepanel .final_score tr:last-child td { padding-right: 0px; } 
#scoring_fivejudgepanel .final_score tr:last-child th { font-weight: bold; } 
#scoring_fivejudgepanel .final_score tr:last-child { font-size: 2em; } 
#scoring_fivejudgepanel .final_score form { margin-top: 30px; }

#scoring_fivejudgepanel nav { overflow: hidden;}
#scoring_fivejudgepanel nav ul { margin-top: 0; }
#scoring_fivejudgepanel nav li,
#scoring_fivejudgepanel nav li a { padding: 0;font-size: 1.3em; }
#scoring_fivejudgepanel nav li a span { vertical-align: top; }

#scoring_fivejudgepanel form p { font-size: 2em;margin-top: 0;}
#scoring_fivejudgepanel form.scoring_open { overflow: hidden;}

#scoring_reports table.scoring { margin-bottom: 1em; }
#scoring_reports table.scoring .spacer { width: 100px;}
#scoring_reports table.scoring colgroup:last-of-type .spacer { width: 0px;}

#scoring_reports .comments label { font-weight: bold;display: block;}
#scoring_reports .comment { margin-bottom: 1em; }
#scoring_reports .comment pre { margin: 0; }

@media print 
{
	form, nav { display: none; }
	#scoring_fivejudgepanel .score_summary { width: 45%; }
}