#scoring_scoreentry .header { margin-bottom: 5px;overflow: hidden;}
#scoring_scoreentry .header .company { font-size: 2em;float: left;}
#scoring_scoreentry .header .description { font-size: 2em;text-align: right;overflow: hidden;}
#scoring_scoreentry .header .name,
#scoring_scoreentry .header .when { font-size: 1.4em;float: left;}
#scoring_scoreentry .header .division,
#scoring_scoreentry .header .judge { font-size: 1.4em;text-align: right;overflow: hidden;padding-right: 2px;}
#scoring_scoreentry .header .judge span { background-color: #000;color: #fff;padding: 2px;font-weight: bold; }

#scoring_scoreentry .score_entry { width: 70%;float: left;margin-right: 20px;}
#scoring_scoreentry .score_entry.single_value_template { width: 40%;}
#scoring_scoreentry .score_entry.single_column_template { width: 40%;}

#scoring_scoreentry .score_entry table { text-align: center;width: 100%; }
#scoring_scoreentry .score_entry th,
#scoring_scoreentry .score_entry td { padding: 0 4px 2px 0; }
#scoring_scoreentry .score_entry td:first-child { text-align: left; }

#scoring_scoreentry .score_entry input { text-align: center;width: 75px;}
#scoring_scoreentry				 .below_min { background-color: #ffa0a0; }
#scoring_scoreentry				 .above_max { background-color: #a0a0ff; }
#scoring_scoreentry				 .controls  { margin-top: 5px;float: right;text-align: right;}
#scoring_scoreentry				 .controls button { margin-top: 8px; }
#scoring_scoreentry				 .controls span { padding: 4px; }

#scoring_scoreentry .score_entry input.selected,
#scoring_scoreentry .score_entry input:focus,
#scoring_scoreentry .score_entry button:focus { background-color: #a0ffa0; }

#scoring_scoreentry .comments label { font-weight: bold;display: block;}
#scoring_scoreentry .comments textarea { width: 100%;height: 94px;}

fieldset input[type="text"] {border-color: #707070;margin: 0;padding: 0;}

.scorepad {display: none; text-align: center;overflow: hidden;}
.scorepad table { border: 1px solid #000; border-bottom: 0; background-color: #dcdcdc; margin-right: 10px; float: left;}
.scorepad table td { border-bottom: 1px solid #000; padding: 10px 10px; cursor: pointer;}
.scorepad table td:hover { background-color: #dcffdc; }
.scorepad table td:active { background-color: #ffffdc; }
.scorepad table td.selected { background-color: #dcdcff; }
.scorepad_base .execution { display: none; }
.scorepad_execution .high, .scorepad_execution .high td, .scorepad_execution .high td.selected {visibility: hidden; background-color: #fff; color: #fff; border: 1px solid #fff; }
.scorepad .low .one { display: none; }
.scorepad_execution .low .one { display: inherit; }

.scorepad
{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
