@{
    ViewBag.Title = "Create a New Competition";
}

@{ Html.RegisterStylesheet("~/content/styles/competition.create.css"); }
@{ Html.RegisterScript("~/content/scripts/competition.create.js"); }

<h2>@ViewBag.Title</h2>

<div id="competition_create">
    <form action='@Url.Action("Create", "Competition")' method="post">
        <fieldset>
            <legend>Create a new Competition</legend>
            
            <div class="validation-summary-errors"></div>

            <div class="editor-label">
                <label>Competition Name</label>
            </div>
            <div class="editor-field">
                <input type="text" name="competitionName" class="required" data-bind="value: post.competitionName" autofocus="autofocus" />
            </div>

@*            <div class="editor-label">*@
@*                <label>Description</label>*@
@*            </div>*@
@*            <div class="editor-field">*@
@*                <input type="text" name="description" data-bind="value: post.description" />*@
@*            </div>*@

            <div class="editor-label">
                <label>First Day</label>
            </div>
            <div class="editor-field">
                <input type="text" name="firstDay" class="required date" data-bind="value: post.firstDay" />
            </div>

            <div class="editor-label">
                <label>Number of Days</label>
            </div>
            <div class="editor-field">
                <label><input type="radio" name="numberOfDays" value="1" data-bind="checked: post.numberOfDays" /> 1</label>
                <label><input type="radio" name="numberOfDays" value="2" data-bind="checked: post.numberOfDays" /> 2</label>
            </div>
            
            <div class="editor-label">
                <label>Number of Performances</label>
            </div>
            <div class="editor-field">
                <label><input type="radio" name="competitionStyle" value="1" data-bind="checked: post.competitionStyle" /> One Performance</label>
                <label><input type="radio" name="competitionStyle" value="2" data-bind="checked: post.competitionStyle" /> Two Performances</label>
                <label><input type="radio" name="competitionStyle" value="3" data-bind="checked: post.competitionStyle" /> Worlds Competition - Teams competiting to go to Worlds perform twice</label>
            </div>
            
            <div class="editor-label">
                <label>How many panels do you want? <span data-bind="text: post.panels().length"></span></label>
            </div>
            <div class="editor-field">
                <div data-bind="ko_slider: { source: post.numberOfPanels, options: { step: 1, max: 6}}" class="slider"></div>
                <span data-bind="text: post.panels"></span>
            </div>

            <p>
                @Html.ActionLink("Cancel", "Index", "Competition")
                <input type="submit" value="Create Competition" />
            </p>
        </fieldset>
    </form>
    
@*    <pre class="ko_output" data-bind="text: ko.toJSON($root, null, 2)"></pre>*@
</div>