@model dynamic

@{ Html.RegisterScript("~/content/scripts/competition.list.js"); }

@{
    ViewBag.Title = "Competitions";
}

<h2>@ViewBag.Title</h2>

@{ Html.RenderPartial("CreateHarness"); }
@{ Html.RenderPartial("ListHarness"); }
