@model dynamic

@{
    ViewBag.Title = "Competitions";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Create New Competition", "Create", "Competition")
@{ Html.RenderPartial("CompetitionListHarness"); }
