@{ Html.RegisterStylesheet("~/content/styles/competition.list.css"); }
@{ Html.RegisterScript("~/content/scripts/competition.list.js"); }

<div id="competition_list">
    <div class="control_links">
        @Html.ActionLink("refresh", "List", "Competition")    
    </div>

    <div class="display">
        @{ Html.RenderAction("List", "Competition"); }
    </div>
</div>