@using System.Web.UI.WebControls
@{
    Layout = "_Layout.cshtml";
}

@{ Html.RenderAction("Index", "CompetitionLayout"); }


<div id="competitionlayout_index">
    
    
</div>

@RenderBody()

@*Having a problem with Moth. Would Like to inline some script to make sure it gets called last. Doesn't work in razor, doing it in ascx*@
@{ Html.RenderPartial("~/Views/Shared/_LayoutCompetitonApplyBindings.ascx"); }


<pre data-bind="text: ko.toJSON($root, null, 2)" class="ko_output"></pre>